@model AngularMVCTypeScript.Features.Home.HomeViewModel

<div>
    <form name="alignmentForm">
        <label for="HelloAngular" ng-bind="Model.HelloAngular">@Model.HelloAngular</label>
        <br />
        <input type="text"
               name="HelloAngular"
               value="@Model.HelloAngular"
               ng-model="Model.HelloAngular"
               ng-remote-validate="@Url.Action(MVC.Home.Validate())"
               required />
        <span ng-show="alignmentForm.HelloAngular.$error.required">
            Required
        </span>
        <span ng-show="alignmentForm.HelloAngular.$error.ngRemoteValidate">
            O's are evil
        </span>
        <br />
        <button type="submit"
                ng-disabled="alignmentForm.$invalid || alignmentForm.$pending"
                ng-click="checkAlignment(Model.HelloAngular)">
            Check if evil
        </button>
    </form>

    @Html.ActionLink("test", MVC.Home.Validate())
    @Html.ActionLink("test2", "Validate", "Home")
</div>
